<!DOCTYPE html>
<html  prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">

<head itemscope itemtype="{{ .Site.BaseURL }}">
  {{ partial "head.html" . }}
  <meta charset="utf-8">
  <link rel='icon' href='/favicon.png' type='image/x-icon'/>
  <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>

<body>
  <div class="spinnerCont">
    <div class="spinner"></div>
  </div>
  <!-- Code that all your templates share, like a header -->
  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}
  {{ partial "js.html" . }}
</body>

</html>