{{ define "main" }}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark text-white bg-dark">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-auto">
      <a class="nav-item nav-link mx-auto" href="/index.html">Home </a>
      <a class="nav-item nav-link mx-auto" href="/projects">Projects </a>
      <a class="nav-item nav-link mx-auto" href="/blog">Blog</a>
      <a class="nav-item nav-link mx-auto" href="/about">About me</a>
    </div>
  </div>
</nav>


  
{{ .Content }}
</div>
{{ end }}