{{ $jquery := resources.Get "js/vendor/jquery.min.js" }}
{{ $popperjs := resources.Get "js/vendor/popper.min.js" }}
{{ $bootstrap := resources.Get "js/vendor/bootstrap.min.js" }}
{{ $aos := resources.Get "js/vendor/aos.js" }}
{{ $bxslider := resources.Get "js/vendor/jquery.bxslider.min.js" }}
{{ $custom := resources.Get "js/vendor/custom.js" }}

{{ $js := slice $jquery $popperjs $bootstrap $aos $bxslider $custom | resources.Concat "js/bundle.js" | resources.Minify }}

<script src="{{$js.RelPermalink}}"></script>
    


